:root{
    --theme-btn-bec-color: #aeaeae1a;
    --theme-sec-btn-bec-color: rgba(255, 255, 255, .1);
    --theme-white: #fff;
    --theme-black: #000;
    --theme-primory-color: #f3363c;
    --theme-gray-color: #7e7e7e;
    --theme-black-bac: #1A1822;
    --theme-line-background: #EBEBEE;
    --theme-blue-line: #6B66DA;
    --theme-blue: #4de5ea;
    --theme-light-black: #333;;
    --theme-bac-black: #1A1822;
}