.header-container{
    max-width: 1360px;
    margin: 0 auto;
}
.main-container{
    max-width: 1186px;
    margin: 0 auto;
    padding: 0 20px;
}

.container{
    max-width: 1186px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-second{
    max-width: 1338px;
    padding: 0 20px;
    margin: 0 auto;
}

.container-third{
    max-width: 1042px;
    padding: 0 20px;
    margin: 0 auto;
}
.container-fourth{
    max-width: 1290px;
    padding: 0 20px;
    margin: 0 auto;
}

.footer-container{
    max-width: 792px;
    padding: 0 20px;
    margin: 0 auto;
}